.search-wrapper {
  /* min-width: 250px; */
  max-width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 37px 0 9px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .search-wrapper {
    margin: 10px;
  }
}