.product-card-wrapper {
  width: 358px;
  text-align: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  transition: all 0.3s ease-in-out;
}

/* .customer-card-wrapper {

} */
